

<div class="tasks-container"> <!--tasks Container-->

    @for (userTask of userTasks; track userTask; let i = $index) {
    <div #userTask{{i}} class="task-container"> <!--Task container-->
        <div class="header-task-info"> <!--Task info-->
            <p><span>{{userTask.createdOn | date}}</span> by <span>{{userTask.username | titlecase}}</span></p>
            <p class="task-type-container">
                <span *ngIf="userTask.isSharedTask">Shared</span>
                <span *ngIf="!userTask.isSharedTask">Own</span>
            </p>
        </div>
        <p class="task-title">{{userTask.title}} <span *ngIf="userTask.isSharedTask">{{userTask.groupName}}</span></p>
        <ul class="ul-container" #ulContainer>
            @for (taskItem of userTask.taskItems; track taskItem; let ix = $index) {
            <li (mouseleave)="hideActionButtons(action_buttons)" (mouseenter)="showActionButtons(action_buttons)"> <!---->
                <p class="content-task-item" #p [ngClass]="{'isCompleted':taskItem.isCompleted}"><span>Task #{{ix + 1}}:</span> {{taskItem.content}}</p>
                
                <div #action_buttons class="task-item-action-buttons">

                    <p>{{taskItem.assignToUsername}}</p>
                    <!--DeleteTaskItem button solo para cuando está logeado--> 
                    <i *ngIf="pagesService.username && taskItem.isRemovable" class="fa fa-regular fa-trash" (click)="deleteTaskItem(taskItem)"></i>

                    <!--DeleteTaskItem button solo para cuando está localStorage-->
                    <i *ngIf="!pagesService.username" class="fa fa-regular fa-trash" (click)="deleteTaskItemLocalStorage(taskItem.taskId, taskItem.id)"></i>

                    <!--SetAsCompleted when logged in-->
                    <i *ngIf="taskItem.isCompletable && !taskItem.isCompleted && pagesService.username" class="fa-solid fa-check" (click)="onMarkAsCompletedTaskItem(taskItem, userTask.username)"></i>

                    <!--SetAsCompleted when not logged in-->
                    <i *ngIf="!pagesService.username" class="fa-solid fa-check" (click)="setAsCompletedTaskItemLocalStorage(taskItem)"></i>


                    <i class="fa-regular fa-eye" (click)="openTaskItemContent(p)"></i>

                </div>

            </li>
            }
            <!--Mostramos únicamente la interfaz de agregar taskItem si es removable ya que si es removalbe etnonces la tarea es mia-->
            <div *ngIf="userTask.isRemovable" class="add-taskItem-container">
                <div class="add-taskItem-content">
                    
                    <!--Para cuando hay token-->
                    <input *ngIf="pagesService.username" #content type="text" placeholder="Task title" 
                    (keydown.enter)="addTaskItem(userTask.id, userTask.isSharedTask, ulContainer)">

                    <!--Para cuando no hay token-->
                    <input *ngIf="!pagesService.username" #content type="text" placeholder="Task title" 
                    (keydown.enter)="addTaskItemLocalStorage(userTask.id)">

                    <select *ngIf="pagesService.username && pagesService.getGroupName" [disabled]="!pagesService.getGroupName || !userTask.isSharedTask" (click)="getUsers()" #assignedTo>
                        <option value="">Assign to</option>
                        @for (user of usersInGroup; track $index) {
                            <option [value]="user">{{user}}</option>
                        }
                    </select>
                    
                </div>
               <!--Add task item for user logged in--> 
                <i *ngIf="pagesService.username" class="fa fa-regular fa-plus" 
                (click)="addTaskItem(userTask.id, userTask.isSharedTask, ulContainer)"></i>

               <!--Add task item for user logged in--> 
               <i *ngIf="!pagesService.username" class="fa fa-regular fa-plus" 
               (click)="addTaskItemLocalStorage(userTask.id)"></i>
            </div>
        </ul>
        <!--Button delete userTask cuando está loggeado-->
        <i *ngIf="pagesService.username && userTask.isRemovable" class="fa-regular fa-trash-can deleteUserTaskIcon" (click)="deleteUserTask(userTask.id)"></i>

        <!--Button delete userTask cuando está loggeado-->
        <i *ngIf="!pagesService.username" class="fa-regular fa-trash-can deleteUserTaskIcon" (click)="deleteTaskLocalStorage(userTask.id)"></i>
    </div>
    }
</div>


<div class="temporary-tasks-container">
    @for (tempTask of tempTasks; track tempTask; let i = $index) {
       <div class="temporary-task">
           <div>
               <input #title type="text" placeholder="Your title here" id="temp-title">
           </div>
           <i class="fa fa-solid fa-x" (click)="tempTasks.splice(i, 1)"></i>
           <i *ngIf="pagesService.getToken" class="fa-solid fa-check" (click)="addUserTask(title.value, i)"></i>
           <i *ngIf="!pagesService.getToken" class="fa-solid fa-check" (click)="addTaskToLocalStorage(title.value, i)"></i>
       </div>
    }
</div>

<div *ngIf="pagesService.username && pagesService.getGroupName" class="connected-people-container">
    <div *ngIf="isPeopleConnectedOpen" class="connected-people-content">
        <ul>
            @for (userJoined of usersInGroup; track $index) {
                <li>
                    <p><span>{{userJoined}}</span> is part of this group</p>
                </li>
            }
        </ul>
    </div>
    <i [ngClass]="{'fa fa-regular fa-x':isPeopleConnectedOpen, 'fa-solid fa-users':!isPeopleConnectedOpen}" (click)="isPeopleConnectedOpen = !isPeopleConnectedOpen"></i>
    
</div>